    </main> 
    <footer>
        {% unless page.url == "/" %}
        <h2>Posts</h2>
        {% if site.posts.size > 0 %}
            <div class="post-list">
                <ul>
                    {% for post in site.posts %}
                        {% if post.categories contains 'Bootlegs' %}
                        {% else %}
                            <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %} 
        {% endunless %}
        <div class="footer-contact">
            <h2>Contact</h2>
            <ul>
                <li><b>Email: </b>wk@wes.today</li>
                <li><b>Twitter: </b><a href="https://twitter.com/wesdottoday">@wesdottoday</a></li>
            </ul>
        </div>
        <div class="footer-title">&#169; {{ site.title }} - {{ site.time | date: '%Y' }}</div>
    </footer>
    </body>
</html>