<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="/assets/images/favicon.svg">
        <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
        <title>{{ page.title | default: site.title }}</title>
    </head>