<nav>
    <span class="nav-name"><a class="nav-name" href="/">{{ site.title }}</a></span>
    <ul class="nav-list">
        <li><a href="{{ site.baseurl }}bootlegs">bootlegs</a></li>
        <li><a href="{{ site.baseurl }}projects">projects</a></li>
        <li><a href="{{ site.baseurl }}blog">words</a></li>
        <li><a href="{{ site.baseurl }}about">about</a></li>
    </ul>
</nav>