---
---

$large-content-width: 620px;
$small-content-width: 95%;

$light-mode-background: #fff;
$light-mode-text: #000;

$dark-mode-background: #000;
$dark-mode-text: #fff;

body {
    width: $large-content-width;
    margin: auto;
}

.site-title {

    margin-top: 1rem;
    margin-bottom: 2rem;

    a {
        font-weight: 200;
        font-size: 2rem;
        letter-spacing: 3px;
        text-transform: uppercase;
    }

}

a {
    text-decoration: none;
}

blockquote {

    p {
        margin-left: 1.5rem;
        font-style: italic;
        border-left: 3px solid #444;
        padding-left: 1rem;
    }

}

footer {
    margin-top: 2rem;
}

.footer-contact {

    ul {
        list-style-type: none;
    }

}

.footer-title {
    margin-top: 2rem;
}

.highlight {
    width: 100%;
}

@media (hover: none) { 

    body {
        width: $small-content-width;
        margin: auto;
    }

    footer {
        padding-bottom: 2rem;
    }

    blockquote {

        p {
            margin-left: 0.15rem;
        }

    }

}

@media (prefers-color-scheme: light) {

    body {
        background-color: $light-mode-background;
        color: $light-mode-text;
    }

    footer {
        border-top: 2px solid #000;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    a {
        color: $light-mode-text;
    }

    a:hover {
        color: rgb(79, 144, 170);
    }

}

@media (prefers-color-scheme: dark) {

    body {
        background-color: $dark-mode-background;
        color: $dark-mode-text;
    }

    footer {
        border-top: 2px solid #fff;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    a {
        color: $dark-mode-text;
    }

}