{%- include head.html -%}

<body>
  <main class="container">

    <div class="site-title">
      <a href="/">{{ site.title }}</a>
    </div>
    <section class="content">
      {{ content }}
    </section>
{%- include footer.html -%}
