---
layout: default
---
{%- assign date_format = "%b %-d, %Y" -%}
<div class="post-container">
  <div class="post-title">
    <h1>{{ page.title }}</h1>
  </div>
  <div class="post">
    {{ content }}
  </div>
</div>
